@import "../../../styles/View.module.scss";

.inner {
  width: 60vw;
  height: 80dvh;
  background: $white_lv3;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .inner {
    width: 80vw !important;
    height: 70dvh !important;
  }
}
