@import "../../../styles/Variable.module.scss";

.wrapper {
  height: calc(100dvh - 50px);
  width: 80vw;
  background: $white_lv1;
  border-radius: 10px 0 0 0;
}

.fileNameWrap {
  width: 100%;
  background: $white_lv3;
  border-radius: 10px 0 0 0;
  padding: 15px 15px;
  font-size: 18px;
  letter-spacing: 2px;
  color: $black_lv2;
}