@import "./Variable.module.scss";

.wrapper {
  background: $white_lv2;
  width: 100vw;
  height: 100dvh;
  display: grid;
  place-items: center;

  .container {
    width: min(100%, 500px);
    height: min(90%);

    .main {
      width: 95%;
      height: 80%;
      margin: 0 auto;
      overflow: scroll;
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    .container {
      height: 100%;
    }
  }
}
