@import "./Variable.module.scss";

.wrapper {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: $white_lv3;

  .viewWrap {
    margin-top: 5px;
    height: calc(100dvh - 55px);
    width: 100vw;
    display: flex;
  }
}